*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 40px;
    background-color: var(--Light-gray);
    overflow: hidden;
}
.container {
    background-color: var(--White);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0 , 0 , 0 , 0.03 );
}
.container img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 17px;
}
.container h1 {
    text-align: center;
    color: var(--Dark-blue);
    margin-bottom: 15px;
    font-size: 21px;
}
.container p {
    text-align: center;
    color: var(--Grayish-blue);
    margin-bottom: 25px;
}
@media (min-width:375px) {
    .container {
        width: 300px;
    }
}
